/* Write your CSS here */
.dark {
  background-color: black;
  background-size: cover;
  height: 86vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.light {
  background-color: white;
  background-size: cover;
  height: 87vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about-image {
  height: 200px;
  width: 200px;
}
.a-dark {
  color: black;
}
.a-light {
  color: white;
}
